footer{
    width: 100vw;
    background-color:black;
    .contenedor{
       font-size: 25px;
        color: white;
        
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}